<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home - Company Portal </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <div class="container text-center">
        <div>
            <h1>
                Welcome <b>[[${#request.userPrincipal.principal.getFullName}]]</b>
            </h1>
        </div>

        <div>
            <h3><a th:href="@{/list_users}">List All Users</a> </h3>
            <h3><a th:href="@{/view_calendar}">View Calendar</a> </h3>
        </div>
    </div>
</body>

</html>